@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      @include transform(translate3d(0, 100%, 0));
    }

    100% {
      opacity: 1;
      @include transform(none);
    }
}
@-moz-keyframes fadeInUp {
  0% {
      opacity: 0;
      @include transform(translate3d(0, 100%, 0));
    }

    100% {
      opacity: 1;
      @include transform(none);
    }
}
@-o-keyframes fadeInUp {
  0% {
      opacity: 0;
      @include transform(translate3d(0, 100%, 0));
    }

    100% {
      opacity: 1;
      @include transform(none);
    }
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      @include transform(translate3d(0, 100%, 0));
    }

    100% {
      opacity: 1;
      @include transform(none);
    }
}

.fadeInUp {
  -webkit-animation: fadeInUp 5s infinite; /* Safari 4+ */
  -moz-animation:    fadeInUp 5s infinite; /* Fx 5+ */
  -o-animation:      fadeInUp 5s infinite; /* Opera 12+ */
  animation:         fadeInUp 5s infinite; /* IE 10+, Fx 29+ */

  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count:    1;
  -o-animation-iteration-count:      1;
  animation-iteration-count:         1;

  -webkit-animation-duration: 2s;
  -moz-animation-duration:    2s;
  -o-animation-duration:      2s;
  animation-duration:         2s;
}