%button-bg {
	cursor: pointer;
	border: 0;
	background: #FF5F01;
	&:hover { background: rgba(#FFF,.85); }
	&:active { background: rgba(#FFF,.7); }
	@include transition(background, .2s ease);
}

$tablet: 37.5rem;

@mixin breakpoint($val) {
	@media screen and (min-width: $val) {
		@content;
	}
}

$body-stack: 'Fira Sans', sans-serif;
$headline-stack: 'Michroma', sans-serif;

html, body {
	color: white;
	font-family: $body-stack;
	height: 100%;
	background-image: url('/images/BBBMoon.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;

	text-align: center;
	min-width: 20rem;
}

.button {
	@extend %button-bg;
	font-family: $body-stack;
	color: #222 !important;
	display: inline-block;
	font-size: 1.25em;
	line-height: 1em;
	margin: 0.25em auto 0.5em;
	min-width: 6em;
	padding: 0.5em 1em;
	text-decoration: none !important;
	@include breakpoint($tablet) {
		font-size: 2em;
	}
}

h1 {
	font-family: $headline-stack;
}

h1, h2, h3 {
	display: block;
	margin: 0.25em auto 0.5em;
}

h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
li { font-size: 1.25em; }

@include breakpoint($tablet) {
	h2 { font-size: 3em; }
	h3 { font-size: 2.75em; }
	li { font-size: 2.25em; }
}

.weenRow-outer {
	height: 100%;
}

.weenRow-inner,
%marginOffset {
	> *:first-child { margin-top: 0 !important; }
	> *:last-child { margin-bottom: 0 !important; }
}

.weenRow-inner ul li{
	padding-bottom: 10px;
}

.icon-downArrow {
	display: inline-block;
	background-image: image-url('icon/downArrow.png');
	background-image: image-url('icon/downArrow.svg'), none;
	height: image-height('icon/downArrow.png');
	width: image-width('icon/downArrow.png');
}

.vertCenter-parent:before {
	content: " ";
	height: 100%;
	width: 1em;
	margin-left: -0.75em;
	margin-right: -0.75em;
}

	.vertCenter-parent:before,
	.vertCenter {
		display: inline-block;
		vertical-align: middle;
	}

	.vertCenter {
		@extend %marginOffset;
	}


.fieldGroup{
  margin-bottom: 10px;

  input[type='text']{
    font-size: 18px;
    padding: 8px;
    background-color: transparent;
    color: orange;
    border: 0;
    border: 1px solid white;
    font-weight: 100;
  }

  input[type='text']:focus{
    outline: 0;
  }

  label{
    font-size: 22px;
    margin-right: 10px;
  }

}
