<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Big Bad Boogie</title>
		<meta name="description" content="you should come">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Changa+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/screen.css">
		<!-- Load Stripe.js on your website. -->
		<script src="https://js.stripe.com/v3"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function(event) {
				if(window.location.pathname == '/success'){
					document.getElementsByClassName('going')[0].classList.add('isActive')
				}
			});
		</script>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->

		<section class="weenRow-outer section-splash">
			<div class="weenRow-inner splash-rowContents">
				<h1 class="splash-headline"><span class='orange'>Big</kspan> Bad <span class='orange'>Boogie</span></h1>
				<div class='going'>
					<h3>You're going.</h3>
					<p>Bring your emailed receipt or your ID for entry!</p>
				</div>
				<img src="images/tombstone1.png" class='tombstone one'/>
				<img src="images/tombstone2.png" class='tombstone two'/>
				<img src="images/tombstone3.png" class='tombstone three'/>
				<div class="splash-buttonWrapper">
					<button class="splash-scrollButton">
						<abbr class="icon-downArrow"></abbr>
					</button>
				</div>
			</div>
		</section>

		<section class="weenRow-outer section-info">
			<div class="weenRow-inner info-rowContents vertCenter-parent">

				<div class="info-contents vertCenter">
					<h2>Thursday October 31st, 8:30pm</h2>
					<ul>
						<li>$25 ($20 pre-sale) ticket</li>
						<li>Music by <a href="https://djmuzach.com">DJ MuZach</a></li>
						<li>Costume Contest</li>
						<li>Dancing</li>
						<li>Tons of Candy</li>
					</ul>
					<h3>@ <a href="https://craftsmanave.com/v2/" target="_new">Craftsman Ave<a></h3>
					<br>
					<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
					<button
					  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
					  id="checkout-button-sku_FnsdEbZD4VruHX"
					  role="link"
					>
					  Snag that ticket!
					</button>

					<script>
						var domain = 'bigbadboogie.party' //production
					  var stripe = Stripe('pk_live_PFBMqjvnjzQmrkenbEWoziQR00Xe6DW6pH'); //production

						// var domain = 'localhost:4567' //development
					 //  var stripe = Stripe('pk_test_oaKPliaWvdPLtqIvWzwv9JNW00wOmVEM0R') //development

					  var checkoutButton = document.getElementById('checkout-button-sku_FnsdEbZD4VruHX');
					  checkoutButton.addEventListener('click', function () {
					    // When the customer clicks on the button, redirect
					    // them to Checkout.
					    stripe.redirectToCheckout({
					      items: [{sku: 'sku_FnsdEbZD4VruHX', quantity: 1}], //production
					      // items: [{sku: 'sku_FnssGav50QZBbx', quantity: 1}], // development

					      // Do not rely on the redirect to the successUrl for fulfilling
					      // purchases, customers may not always reach the success_url after
					      // a successful payment.
					      // Instead use one of the strategies described in
					      // https://stripe.com/docs/payments/checkout/fulfillment
					      successUrl: window.location.protocol + '//'+domain+'/success',
					      cancelUrl: window.location.protocol + '//'+domain+'/',
					    })
					    .then(function (result) {
					      if (result.error) {
					        // If `redirectToCheckout` fails due to a browser or network
					        // error, display the localized error message to your customer.
					        var displayError = document.getElementById('error-message');
					        displayError.textContent = result.error.message;
					      }
					    });
					  });
					</script>

					<div id="error-message"></div>
				</div>
			</div>
		</section>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			// (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			// function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			// e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			// e.src='//www.google-analytics.com/analytics.js';
			// r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			// ga('create','UA-XXXXX-X','auto');ga('send','pageview');
		</script>
	</body>

	<script type="text/javascript">

		(function(window, $) {
			'use strict';

			$(document).ready(function() {
				$('.splash-scrollButton').on('click', function() {

					$('html, body').animate({
						'scrollTop': $('.section-splash').outerHeight()
					});

				});

				$('.splash-headline').addClass('animated fadeInUp');

				$(".button.rsvp").click(function(){
				  $(".button.rsvp").attr("disabled", "true").css("background-color", "lightgray")
				  $(".button.rsvp").css('width', '40px').html('<span class="fa fa-spinner fa-spin"></span>')
				  var email = $(".email").val()
				  if(email != "" && email != undefined){
				    var action = $("form").attr('action')
				    $.ajax({
				      type: "POST",
				      url: action,
        			contentType: "application/json; charset=utf-8",
				      data: $("form").serializeArray(),
				      cache       : false,
       				dataType    : 'jsonp',
				      done   : function(data){
								console.log('test')
				      	$(".button.rsvp").attr("disabled", "true").css("background-color", "#FFF")
				      	$(".button").attr("value", "BOO!")
				      },
							error  : function(test){
								console.log(test)
								console.log('hi')
							}
				    });
						setTimeout(function(){
							$(".button.rsvp").attr("disabled", "true").css("background-color", "#FFF")
							$(".button").attr("value", "BOO!")
						},3000)
				  }else{
				    // $(".subscriber-email").attr('placeholder', 'Enter your email.')
				    // $(".subscriber-email").removeAttr("disabled").css("background-color", "white").css("border", "")
				    // $(".button.subscribe").css('width', '100px').html('subscribe')
				  }

				})

			});

		}(this, this.jQuery));

	</script>
</html>
