.section-splash {
	text-align: center;
	color: #FFF;
	position: relative;
}

	.splash-headline {
		font-size: 3em;
		display: block;
		position: absolute;
		left: 0;
		bottom: 2em;
		width: 100%;

		@include breakpoint($tablet) {
			font-size: 5em;
		}
	}

	.splash-scrollButton {
		@extend %button-bg;
		border-radius: 5em;
		padding: 1.5em 1em 1em;
	}

	.splash-buttonWrapper {
		display: block;
		position: absolute;
		bottom: 1em;
		width: 100%;
		left: 0;
	}