.section-splash {
	text-align: center;
	color: #FFF;
	position: relative;
}

	.splash-headline {
		font-size: 3em;
		display: block;
		position: absolute;
		left: 0;
		bottom: 2em;
		width: 100%;

		@include breakpoint($tablet) {
			font-size: 5em;
		}
	}

	.splash-scrollButton {
		background: rgba(0,0,0,.6);
		cursor: pointer;
		border-radius: 5em;
		border: 0;
		padding: 1.5em 1em 1em;

		&:hover { background: rgba(0,0,0,.8); }
		&:active { background: #000; }
	}

	.splash-buttonWrapper {
		display: block;
		position: absolute;
		bottom: 1em;
		width: 100%;
		left: 0;
	}