.section-splash {
	text-align: center;
	color: #FFF;
	position: relative;
}

	.splash-headline {
		font-size: 3em;
		display: block;
		position: absolute;
		left: 0;
		top: 0.5em;
		width: 100%;

		@include breakpoint($tablet) {
			font-size: 5em;
		}
	}

	.splash-scrollButton {
		@extend %button-bg;
		border-radius: 5em;
		padding: 1.5em 1em 1em;
	}

	.splash-buttonWrapper {
		display: block;
		position: absolute;
		bottom: 3.5em;
		width: 100%;
		left: 0;
	}

.orange{
	color: #FF5F01;
}

.tombstone{
	width: 200px;
	position: absolute;
	bottom: 0;
}

.one{
	left: 20%;
}

.two{
	margin-left: -110px
}

.three{
	right: 20%
}

a, a:visited, a:link, a:active{
	text-decoration: none;
	color: #FF5F01;
}

a:hover{
	color: aqua;
}
